.me
    &__container
        display: flex
        flex-direction: column
        font-family: 'Inter'
        font-weight: 200
        font-size: 15px
    &__title
        font-size: 40px
        margin-top: 16px
        margin-bottom: 16px
    &__image
        width: 200px
        height: 200px
        object-fit: cover
        border-radius: 20px
    &__button
        font-family: 'Inter'
        font-size: 30px
        margin-top: 0
        margin-bottom: 0
        font-weight: 200
        transition: all .3s ease
        text-decoration: none !important
        outline: none
        color: white
        cursor: pointer
        margin-bottom: 20px
        &:hover
            opacity: .6